.larger-works-carousel {
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
}

.larger-works {
  display: inline-block;
  margin-right: 30px;
  vertical-align: top;
  width: 367px;
}

.centered-image {
  border-radius: 8px;
  width: 367px;
  height: 200px;
  object-fit: cover;
}

.work-details {
  padding: 15px 30px 30px 30px;
}

.work-title {
  color: var(--content-primary);
  display: block;
  margin-bottom: var(--scale600);
}

.work-description {
  color: var(--content-tertiary);
  font-size: 12px;
  line-height: 20px;
  white-space: normal;
}
