.blog-preview {
  margin-bottom: var(--scale1600);
}

.blog-metadata {
  color: var(--content-tertiary);
  display: inline-block;
  font-size: 12px;
  margin-bottom: 4px;
}

.blog-tag {
  color: var(--content-tertiary);
  display: inline-block;
  font-size: 12px;
  padding-right: 10px;
  transition: color 0.2s ease;
}

.blog-tag:hover {
  color: var(--content-primary);
}

.middle-dot {
  font-size: 12px;
  padding: 0 10px;
}

.read-link {
  display: block;
  font-size: 12px;
  letter-spacing: 0.05rem;
}
